@model List<AnimeModel>
@{
    ViewData["Title"] = "Usuarios";
}

<div class="text-center">

    <div class="d-grip gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-warning" role="button" asp-controller="Anime" asp-action="Criar">Adicionar Usuario</a>
    </div>
    <br />

    <h1 class="display-4">Lista De Usuarios</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Usuario</th>
                <th scope="col">Anime Preferido</th>
                <th scope="col">Genero</th>
                <th scope="col">Criador</th>
                <th scope="col">Ano de Lançamento</th>
            </tr>
        </thead>
        <tbody>
            @if(Model != null && Model.Any())
            {
                foreach(AnimeModel anime in Model)
                {
                    <tr>
                        <th scope="row">@anime.Id</th>
                        <td>@anime.Usuario</td>
                        <td>@anime.NomeAnime</td>
                        <td>@anime.Genero</td>
                        <td>@anime.Criador</td>
                        <td>@anime.AnoLancamento</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" class="btn btn-primary" asp-route-id="@anime.Id" asp-controller="Anime" asp-action="Editar">Editar</a>
                                <a role="button" class="btn btn-danger" asp-route-id="@anime.Id" asp-controller="Anime" asp-action="ExcluirConfirmacao">Excluir</a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

